/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* Variables */
:root {
    --primary-color: #08FDD8;
    --dark-color: #22222282;
    --background: url(https://cdn.wallpapersafari.com/94/19/kF4wOD.jpg);
}

/* Básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway';
    /* background-color: #F3F3F3; */
    background-color: #3d3d3d;
    color: #fff;
    line-height: 1.5;
    text-shadow: 4px 4px 2px #22222292;
}

/* header {
    border-bottom: 2px solid #ffffff;
} */

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Geral */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.container-full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px;
}

.center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spc-btwn {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr)
}

.gap-5 {
    gap: 200px;
}

.grid-portfolio {
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 4rem 0;
}

.card {
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #22222242;
}

.btn:hover {
    border: 1px solid var(--primary-color);
    transition: ease 0.4s;
    cursor: pointer;
}

.section-title {
    font-size: 40px;
}

.border {
    height: 60vh;
    border: 1px solid #f3f3f3;
    margin: 0px 40px;
    width: 2px;
}

/* Introduce */
.introduce {
    height: 100vh;
    /* border-bottom: 2px solid #fff; */
    /* background: var(--background);
    background-size: cover;
    background-position: center center; */
}

.wrapper {
    margin: auto;
}

.introduce .static h1 {
    
    font-size: 3rem;
    color: var(--primary-color);
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    text-shadow: 6px 6px 2px #222222;
}

.introduce .dinamic h1 {
    position: relative;
    font-size: 3rem;
    color: #ffffff;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    text-shadow: 6px 6px 2px #222222;
}

.introduce .dinamic h1::after {
    content: '';
    position: absolute;
    left: 0%;
    background: #3d3d3d;
    border-left: 2px solid var(--primary-color);
    height: 100%;
    width: 105%;
    animation: typing 3s steps(500) infinite;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Info & Skills */
.info-skills {
    height: 100vh;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; 
}

.info-skills .title {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.is-title {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.info-skills .title .letters {
    display: flex;
}

.info-skills .skill-name {
    font-size: 1.3rem;
}

.info-skills .skill-name p {
    padding: 10px;

}

.row-box {
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

/* Info */
.info {
    width: 100%;
    text-align: center;
}

.info p {
    text-align: justify;
    font-size: 1.3rem;
    text-shadow: 5px 5px 2px #222222;
    margin: 10px 0;
}

/* Skills */
.skills {
    width: 100%;
    text-shadow: 4px 4px 2px #222222;
}

.bar {
    background: #272727;
     width:100%;
}

.fill-bar {
    height: 2px;
    background-color: #fff;
    box-shadow: 3px 3px 1px #22222242;
}

/* Texto Interativo */
.title .inte {
    font-family: 'Raleway';
    font-size: 40px;
    margin: 0 2px;
    text-shadow: 5px 5px 2px #222222;
}

.title .inte:hover {
    color: #08FDD8;
    transition: 0.3s ease;
    cursor: default;
}

/* Contato */
.contact {
    height: 600px;
    background-color: var(--dark-color);
    color: #fff;
    position: relative;
}

.contact h1 {
    font-size: 40px;
}

.contact h2 {
    color: #fff;
}

.contact p {
    margin: 20px 0;
}


/* Formulário */
.form {
    height: 350px;
    width: 50%;
    padding: 40px;
}

.text-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.form input {
    background-color: var(--dark-color);
    color: #fff; /* Isso afeta o botão do formulário */
}

.form input[type=submit] {
    box-shadow: 2px 2px #3d3d3d;
}

.form input[type=submit]:hover {
    color: var(--primary-color);
}

.form input::placeholder {
    color: #f3f3f342;
}

.form .form-control {
    margin: 20px 0;
    box-shadow: 2px 2px #3d3d3d;
    transition: 0.5s ease-out;
}

.form .form-control:hover {
    box-shadow: 1px 1px var(--primary-color);
}

.form input[type='text'], 
.form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #22222242;
    width: 100%;
    padding: 5px;
}

.form input:focus {
    outline: none;
}

/* Portfolio */
.portfolio {
    padding-top: 80px;
}

/* Imagens do Portfolio */
.image-box {
    text-align: center;
    width: 300px;
    opacity: 0.5;
    gap: 0.1rem;
    box-shadow: 2px 2px 0px #202020;
    transition: 0.5s;
}

.image-box:hover {
    box-shadow: 2px 2px 0px var(--primary-color);
    opacity: 1;
}

.image-box img {
    opacity: 0.5;
    transform: scale(0.90);
    padding: 10px;
    transition: 0.5s;
}

.image-box img:hover {
    opacity: 1;
    transform: scale(1);
}

/* Rodapé */
.footer {
    border-top: 2px solid #fff;
    padding: 30px 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: flex-end;
}

.social-media a {
    margin: 0 5px;
}


footer li a:hover {
    color: var(--primary-color);
}

footer a i:hover {
    color: var(--primary-color);
}

/* Keyframes / Animações */

/* Slide da esquerda */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-150vh) rotate(20deg);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
        }
}

/* Slide de baixo */
@keyframes slideInFromBottom {
    0% {
        opacity: 0%;
        transform: translateY(10vh);
    }
    100% {
        opacity: 100%;
        }
}

/* Animação Introduce */
@keyframes typing {
    0% {
        left: 0%;
        transform: scaleX(100%);
    }

    100% {
        left: 60%;
        transform: scaleX(0);
    }

}

/* ---------------Media Queries--------------- */
@media (max-width: 768px) {
    body {
        background: #3d3d3d;
    }
    
    /* Geral */
    .grid {
        display: flex;
        flex-direction: column;
    }

    .container-full {
        padding: 40px;
    }

    .flex {
        flex-wrap: wrap;
    }

    /* Info & Skill */
    .info-skills {
        height: 100%;
    }

    .is-title {
        justify-content: center;
    }

    .title .inte {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .info {
        height: 100%;
    }

    .row-box {
        height: 50%;
        width: 100%;
    }
    
    .skills,
    .box-text {
        width: 100%;
        height: 100%;
        margin: 20px;
    }

    /* Contato */
    .form {
        width: 100%;
        height: 60%;
    }

    .text-area {
        width: 100%;
        height: 30%;
        padding: 30px;
        text-align: center;
    }

    /* Rodapé */
    .footer {
        padding: 30px 40px;
        display: flex;
    }

}